# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/*.js
dist/*.map

web-build/
expo-env.d.ts

# Native
ios/
android/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo
.vercel

.env
node_modules/
.env
.env.local
.env.production.local
.env.production
server/.env
.expo/
node_modules/
.cache/
node_modules/
# Allow tracking patched react-native files
whatsapp-worker/node_modules/
whatsapp-worker/auth/
server/ecosystem.config.js
.env
